* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .banner {
        width: 100%;
        height: 120px;
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(imagen/perro1.png.jpg);
        background-size:cover;
        background-position:center;
    }
    .navbar {
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    img {
        height: 40px;
        width: 40px;
        border: 2px solid white;
        border-radius: 25px;
        padding: 5px;
    }
    
    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    .navbar ul li a {
        text-decoration: none;
        color: white ;
        text-transform: uppercase;
    }
    .navbar ul li::after {
        content:'';
        height: 3px;
        width: 0;
        background: greenyellow;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navbar ul li:hover::after {
        width: 100%;
    }
    .contenidoNosotros {
        width: 100%;
        height: 100%;
    } 
    h3 {
        text-align: center;
        font-size: 30px;
    }
    h4 {
        text-align: center;
        font-size:15px ;
    }
    p {
       text-align: justify;
       border: 5px;
       margin: 25px;
       padding: 3px;
    }
    .imagenesNosotros {
        border: 5px;
        margin: 25px;
        padding: 3px;
        text-align: center;
        display: block;
        
    }
    .mujer {
        height: 250px;
        width: 250px;
        border: 2px solid white;
        border-radius: 25px;  
    }
    .hombre {
        height: 250px;
        width: 250px;
        border: 2px solid white;
        border-radius: 25px;
        
    }